{% extends "boilerplate.html" %}
{% block content %}
<div class="card col-md-6 offset-md-3 col-10 offset-1">
    <form action="./changepassword" class="card-body needs-validation" method="post" novalidate>
        <div>
            <h5 class="card-title mt-3">Reset Password</h5>
            <label for="password" class="form-label">New Password</label>
            <input type="password" class="form-control" name="password" id="password" data-bs-toggle="tooltip"
                data-bs-html="true" data-bs-placement="left" data-bs-title="Password Must Include: 
            <ul class='pb-0 mb-1'>
                <li>10 Characters</li>
                <li>1 Capital letter</li>
                <li>1 Lowercase letter</li>
                <li>1 Number</li>
                <li>1 Special Character</li>
            </ul>" required>

            <label for="confirmpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" required>

            <input type="hidden" id="username" name="username" value="{{username}}">
            <input type="hidden" id="token" name="token" value="{{token}}">

        </div>
        <div class="col-auto mt-3">
            <button type="submit" id="signup" class="btn btn-primary" disabled>Update Password</button>
        </div>
    </form>
</div>
<script type="module">
    //https://getbootstrap.com/docs/5.2/components/tooltips/
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    const pass1 = document.querySelector("#password")
    const pass2 = document.querySelector("#confirmpassword")
    const submit = document.querySelector("#signup")

    const passwordEquality = () => {
        if (pass1.value === pass2.value) {
            submit.disabled = false;
        } else {
            submit.disabled = true;
        }
    }
    pass1.addEventListener("input", passwordEquality)
    pass2.addEventListener("input", passwordEquality)
</script>
{% include "formvalidate.html" %}
{% endblock %}