{% extends "boilerplate.html" %}
{% block content %}
<div class="card col-md-6 offset-md-3 col-10 offset-1">
    <form action="./changepassword" class="card-body needs-validation" method="post" novalidate>
        <div>
            <h5 class="card-title mt-3">Reset Password</h5>
            <label for="password" class="form-label">New Password</label>
            <input type="text" class="form-control" name="password" id="password" required>

            <span>
                <label for="confirmpassword" class="form-label">Confirm Password</label>
                <input type="text" class="form-control" name="confirmpassword" id="confirmpassword" required>
                <div class="invalid-feedback">
                    Passwords do not match
                </div>
            </span>

            <input type="hidden" id="username" name="username" value="{{username}}">
            <input type="hidden" id="token" name="token" value="{{token}}">

        </div>
        <div class="col-auto mt-3">
            <button type="submit" class="btn btn-primary">Update Password</button>
        </div>
    </form>
</div>
{% include "formvalidate.html" %}
{% endblock %}