{% extends "boilerplate.html" %}
{% block content %}
<div class="card col-md-6 offset-md-3 col-10 offset-1">
    <form action="./login" class="card-body needs-validation" method="post" novalidate>
        <div>
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" required>
        </div>

        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>

        <div class="col-auto mt-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
{% include "formvalidate.html" %}
{% endblock %}