{% extends "boilerplate.html" %}
{% block content %}
<div class="card col-md-6 offset-md-3 col-10 offset-1">
    <form action="./resetpassword" class="card-body needs-validation" method="post" novalidate>
        <div>
            <h5 class="card-title mt-3">Reset Password</h5>
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" required>
        </div>
        <div class="col-auto mt-3">
            <button type="submit" class="btn btn-primary">Send Reset Email</button>
        </div>
    </form>
</div>
{% include "formvalidate.html" %}
{% endblock %}