{% extends "boilerplate.html" %}
{% block content %}
<div class="card col-md-6 offset-md-3 col-10 offset-1">
    <form action="./signup" class="card-body needs-validation" method="post" novalidate>

        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username" required>

        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" required>

        <div class="mt-3">
            <input class="form-check-input" type="checkbox" value="True" id="isAdmin" name="isAdmin">
            <label class="form-check-label" for="isAdmin">
                Are you an Admin?
            </label>
        </div>

        <div class="col-auto mt-3">
            <button type="submit" class="btn btn-primary">Sign Up</button>

        </div>
    </form>
</div>
{% include "formvalidate.html" %}
{% endblock %}